.banner{
	height: 90px;
	width: auto;
}
.bio{
	width: 270px;
	border: 1px solid #cccccc;
	float: left;
	height: 200px;
	margin: 20px 0 0 0;
	padding: 10px;
	text-align: center;
	background: ghostwhite;
}
.webc{
	width: auto;
	height: auto;
	float: right;
}
.loge{
	text-align: center;
	color: #ff1212;
	font-weight: bolder;
	font-family: tahoma;
}
body{
	font-family: sans-serif;
}
a.active{
	background: red;
	padding: 10px;
}
.placeholder{
	padding: 20px;
}
#himage{
	width: 300px;
	float: left;
}
#menus{
	width: 800px;
	float: right;
	padding: 20px;
	text-align: right;
}
li{
	list-style: none;
	display: inline;
	margin: 0 10px 0 0;
} 
li:hover{
	border-bottom: 2px solid #ff1212;
	padding-bottom: 5px;
}
a.hover{
	text-decoration: none;
}
h3{
	font-family: tahoma;
	margin: 10px;
}
.advert{
	background: url(../images/header.png);
	height: 160px;
	width: auto;
}
.wiping{
	width: auto;
	text-align: center;
	padding: 10px 25px 10px 25px;
	display: inline-block;
}
.sap{
	display: inline-block;
}
.hfirst{
	width: 568px;
	height: 400px;
	display: inline-block;
	margin: 10px 0 10px 0;
	padding: 10px;
	text-align: center;
}
.adv{
	width: auto;
	height: auto;
	margin: 20px 0 20px 0;
	padding: 5px;
}
.disply{
	width: auto;
	height: 250px;
	margin: 10px 0 0 0;
}
.holdn{
	width: 750px;
	border-top: 1px solid #ccc;
	padding: 20px;
	float: left;
}
.newsflash{
	width: 350px;
	border: 1px solid #aaa;
	padding: 10px;
	float: right;
	height: 220px;
}
img.ca{
	width: 280px;
}
span{
	color: #ffffff;
	float: right;
	width: 800px;
	text-align: center;
}
div.txt2{
	color: #000000;
	float: right;
	width: 800px;
	text-align: center;
}
input.subm{
	padding: 10px;
	background: #ff1212;
	width: 100px;
}
input,select{
	padding: 10px;
	width: 200px;
}
label{
	width: 200px;
	padding: 20px;
}
div.log{
	margin: auto;
	width: 500px;
	padding: 20px;
}
span.wen{
	padding: 20px;
	font-size: 1.2em;
}
img.edit{
	width: 100px;
	height: 70px;
}
.message{
	position: fixed;
	bottom: 20px;
	padding: 10px;
	background: #ff1212;
	color: #ffffff;
	font-weight: bold;
	border-radius: 10px;
}
img.notif{
	width: 25px;
	height: 20px;
	margin: 0 10px 0 0;
}
.foot{
	width: auto;
	height: auto;
	background: url(../images/121.png);
}
#copy{
	width: auto;
	background: #1c3061;
	padding: 20px;
	color: #00c9fb;
}
.end{
	width: 280px;
	display: inline-block;
	float: left;
	color: #ffffff;
	padding: 10px;
}
img.small{
	width: 74px;
	height: 70px;
	margin: 5px;
}
.lil{
	height: 400px;
	width: auto;
	text-align: center;
}
